html {
    font-size: 20px;
}

body {
    width: 100%;
    background-color: grey;
    overflow: hidden;
}

.canvas_container {
    padding-left: 20em;
}

canvas {
    border: black 10px solid;
    background-color: white;
    border-radius: 12em;
    box-shadow: rgb(30,30,30) 10px 10px 5px;
}

#chart_winter {
    display: none;
}